@model IEnumerable<EfDatabaseFirstApp.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Employee</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.Age</td>
            <td>@emp.Department</td>
            
        </tr>
    }
    </tbody>
</table>
